<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Baye-Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Baye-iOS copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Baye-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>baye-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1437474A1B7E67C900939571</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1437475F1B7E67C900939571</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1444A9401B7B6EFE0085EC83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14585C471D26BF9C00DCE3BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>148718671B7FB0C000AC88EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1487187F1B7FB0C000AC88EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
